* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
main {
    background-image: url(https://storage.googleapis.com/blog-images-backup/0*I-sI3u34g0ydRqyA);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-wrapper {
    background-color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    font-size: 3rem;
    padding: 1.5rem;
}
.pop-up {
    /* display: none; */
    background: #000;
    color: #fff;
    position: absolute;
    padding: 2rem;
}
.modal-btn {
    margin: 0 auto;
    border: 1px solid #ffafcc;
    color: #e51662;
    padding: 1rem;
    background-color: #fff;
    border-radius: 4px;
}
.modal-btn:hover {
    background-color: #e51662;
    color: #fff;
    transition: 0.5s ease;
}
h2 {
    padding: 0.8rem;
}
#close-btn {
    position: relative;
    top:10%;
    left:90%;
    padding: 1rem;
    border: 0;
    background: transparent;
    color: #fff;
}
